---
layout: default
pagination:
  enabled: true
  collection: posts
  permalink: /page/:num/
  per_page: 3
  sort_field: date
  sort_reverse: true
  trail:
    before: 1 # The number of links before the current page
    after: 3  # The number of links after the current page
---

<div class="post">

  <div class="header-bar">
    <h1 class="blog-title">{{ site.blog_name }}</h1>
    <h2 class="blog-description">{{ site.blog_description }}</h2>
  </div>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <div class="container">
          <div class="row">
          {% if post.image %}
            <div class="col-sm-4">
              <figure>
                <a href="{{ post.url | relative_url }}">
                <img class="img-fluid z-depth-1 rounded mr-5" src="{{ post.image | relative_url }}" href="{{ post.url | relative_url }}" alt="Generic placeholder image">
              </a>
                <figcaption class="post-meta">{{ post.date | date: '%B %d, %Y' }}</figcaption>
              </figure>
            </div>
            <div class="col-sm-8">
          {% endif %}
              <h3>
                <a class="post-title" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
                {% unless post.image %}
                <p class="post-meta">{{ post.date | date: '%B %d, %Y' }}</p>
                {% endunless %}
              </h3>
              <p class="post-meta-description">{{ post.description }}</p>
            </div>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>

  {% include pagination.html %}

</div>
