---
layout: default
pagination:
  enabled: true
  collection: posts
  permalink: /page/:num/
  per_page: 3
  sort_field: date
  sort_reverse: true
  trail:
    before: 1 # The number of links before the current page
    after: 3  # The number of links after the current page
---

<div class="post">

  <div class="header-bar">
    <h1 class="blog-title">{{ site.blog_name }}</h1>
    <h2 class="blog-description">{{ site.blog_description }}</h2>
  </div>


  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        {% if post.image %}
        <div class="float-left">
          <a href="{{ post.url | relative_url }}">
          <img class="img-fluid z-depth-1 rounded" src="{{ post.image | relative_url }}" href="{{ post.url | relative_url }}"/>
          </a>
          <p class="post-meta">{{ post.date | date: '%B %d, %Y' }}</p>
        </div>
        {% endif %}
      <div class="clearfix">
          <h3>
            <a class="post-title" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          <p class="post-meta-description">{{ post.description }}</p>
          {% unless post.image %}
          <p class="post-meta">{{ post.date | date: '%B %d, %Y' }}</p>
          {% endunless %}
          </div>
      </li>
    {% endfor %}
  </ul>

  {% include pagination.html %}

</div>
